.scrolling-container {
  animation: scrollAnimation 360s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-78%);
  }
  50% {
    transform: translateX(-78%);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
