.scrolling-container {
  animation: scrollAnimation 20s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-78%);
  }
  100% {
    transform: translateX(0);
  }
}
