.scrolling-container {
  animation: scrollAnimation 360s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
